{% extends 'base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
        <h1>Лев Толстой – зеркало русской революции.</h1>
        <p>
          Группа тайных поклонников графа.
        </p>
        <article>
        {% for post in posts %}
          <ul>
            <li>
              Автор: {{ posts.author.get_full_name }}
            </li>
            <li>
              Дата публикации: {{ posts.pub_date|date:"d E Y" }}
            </li>
          </ul>
          <p>
            {{ post.text }}
          </p>
        {% endfor %}
        </article>
        <hr>
{% endblock %}
